{{define "struct"}}
{{- if .Description}}
// {{.Name}} - {{.Description}}
{{- end}}
type {{.Name}} struct {
{{- range .Fields}}
	{{- if .Description}}
	// {{.Description}}
	{{- end}}
	{{- if .ManualJSON}}
	{{.Name}} {{goType .Type}} `json:"-"`
	{{- else}}
	{{.Name}} {{goType .Type}} `json:"{{.JSONName}}{{if .OmitEmpty}},omitempty{{end}}"`
	{{- end}}
{{- end}}
{{- range .OneOfs}}
	{{.FieldName}} {{.InterfaceName}} `json:"-"`
{{- end}}
{{- if .AdditionalProperties}}
	AdditionalProperties map[string]{{goType .AdditionalProperties.ValueType}} `json:"-"`
{{- end}}
{{- if .HasPatternProperties}}
	PatternProperties map[string]json.RawMessage `json:"-"`
{{- end}}
{{- if .AcceptNonObject}}
	_nonObject bool // set by UnmarshalJSON when the JSON data is not an object
{{- end}}
}
{{- range .OneOfs}}
{{template "oneof_interface" mkOneOfCtx . $.Name}}
{{template "oneof_getters" mkOneOfCtx . $.Name}}
{{- end}}
{{- if .NeedsUnmarshal}}
{{template "unmarshal" .}}
{{- end}}
{{- if .NeedsMarshal}}
{{template "marshal" .}}
{{- end}}
{{template "validate" .}}
{{- end}}
