{{define "struct"}}
{{- if .Description}}
// {{.Name}} - {{.Description}}
{{- end}}
type {{.Name}} struct {
{{- range .Fields}}
	{{- if .Description}}
	// {{.Description}}
	{{- end}}
	{{- if .ManualJSON}}
	{{.Name}} {{goType .Type}} `json:"-"`
	{{- else}}
	{{.Name}} {{goType .Type}} `json:"{{.JSONName}}{{if .OmitZero}},omitzero{{else if .OmitEmpty}},omitempty{{end}}"`
	{{- end}}
{{- end}}
{{- range .OneOfs}}
	{{.FieldName}} {{.InterfaceName}} `json:"-"`
{{- end}}
{{- if .AdditionalProperties}}
	AdditionalProperties map[string]{{goType .AdditionalProperties.ValueType}} `json:"-"`
{{- end}}
{{- if .HasPatternProperties}}
	PatternProperties map[string]json.RawMessage `json:"-"`
{{- end}}
{{- if .AcceptNonObject}}
	_nonObject    bool            // set by UnmarshalJSON when the JSON data is not an object
	_rawNonObject json.RawMessage // raw bytes of non-object data for lossless roundtrip
{{- end}}
{{- if .NeedsJSONKeys}}
	_jsonKeys map[string]bool // set by UnmarshalJSON for optional field / dependentSchemas validation
{{- end}}
{{- if .NeedsRawProps}}
	_jsonRawProps map[string]json.RawMessage // set by UnmarshalJSON for runtime conditional evaluation (if/then/else, anyOf const checks)
{{- end}}
}
{{- range .OneOfs}}
{{template "oneof_interface" mkOneOfCtx . $.Name}}
{{template "oneof_getters" mkOneOfCtx . $.Name}}
{{- end}}
{{- if .NeedsUnmarshal}}
{{template "unmarshal" .}}
{{- end}}
{{- if .NeedsMarshal}}
{{template "marshal" .}}
{{- end}}
{{- if .HasDefaults}}
{{template "set_defaults" .}}
{{- end}}
{{template "validate" .}}
{{- end}}
